script(src='/lib/bootstrap/js/bootstrap.min.js')
script(src='/lib/moment/js/moment.min.js')
script(src='/lib/jqBootstrapValidation/js/jqBootstrapValidation.js')

script(src='/lib/angular/angular.min.js')
script(src='/lib/angular/angular-resource.min.js')
script(src='/lib/angular/modules/ng-infinite-scroll.min.js')
script(src='/lib/angular/modules/angular-moment.min.js')
script(src='/js/app.js')
script(src='/js/controllers.js')
script(src='/js/filters.js')
script(src='/js/services.js')

if collabjs.env === 'development'
  script(src='/js/collabjs.js')
else
  script(src='/js/collabjs.min.js')

script.
  collabjs.ui.requestPath = '#{requestPath}';

if (collabjs.user)
  script.
    collabjs.currentUser.pictureUrl = '#{collabjs.user.pictureUrl}';