div.navbar.navbar-fixed-top
    div.navbar-inner
      div.container-fluid
        //-a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
          //-span.icon-bar
          //-span.icon-bar
          //-span.icon-bar
        a.brand(href='/')= config.ui.brand
        ul.nav.pull-right
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', style='padding-bottom: 5px; padding-top: 6px; margin-bottom: 0px;')
              i.icon-cogs.icon-2x
              b.caret
            ul.dropdown-menu
              if (isAuthenticated)
                li
                  a.profile-link(href='/account')
                    div
                      img(src='https://www.gravatar.com/avatar/#{user.pictureId}?s=32')
                      strong #{user.name}
                      small Edit profile
                li.divider(style='margin-top: 0;')
                li
                  a(href='/help')
                    i.icon.icon-flag
                    | &nbsp;Help
                li
                  a(href='#')
                    i.icon-question-sign
                    | &nbsp;About
                li.divider(style='margin-bottom:0')
                li
                  a(href='/logout')
                    i.icon-signout
                    | &nbsp;Logout
              else
                li
                  a(href='/login') Sign in
                li.divider
                li
                  a(href='/register') Register
        div.nav-collapse.collapse
          //- former 'Settings' area
          //-ul.nav.pull-right
          ul.nav
            li.divider-vertical
            if (user)  
              li
                a(href='/timeline') Home
              //- dynamic links
              each link in config.ui.header.links
                li
                  a(href='#{link.url}')= link.text