p.lead(style='display:none', data-bind='visible: profiles().length == 0') No people found...

ul.media-list(style='display: none', data-bind='visible: profiles().length > 0, foreach: profiles')
  li.media.post
    div.pull-left
      img.media-object.avatar(data-bind='attr: { src: picture }', alt='')
    div.media-body
      div.media-heading(style='font-weight: normal')
        span
          a(data-bind='attr: { href: feed }')
            strong(data-bind='text: name')
          a(data-bind="text: '@' + account, attr: { href: feed }", style='color: grey; font-weight: normal; font-size: 90%; padding-left: 5px')
        a.btn.btn-default.pull-right.profile-btn(data-bind='visible: canFollow, click: $parent.follow') Follow
        a.btn.btn-danger.pull-right.profile-btn(data-bind='visible: canUnfollow, click: $parent.unfollow') Unfollow
        a.btn.btn-success.pull-right.profile-btn(data-bind='visible: isOwnProfile', href='/account') Edit profile
      ul.list-unstyled
        li
          span.bfh-countries(data-bind='country: location', data-flags='true')
        li
          a(data-bind='attr: { href: website }, text: website')
        li
          em(data-bind='text: bio')

      ul.list-inline.profile-stats
        li
          a(data-bind='attr: { href: feed }')
            strong(data-bind='text: posts')
            | &nbsp;posts
        li
          a(data-bind='attr: { href: followingUrl }')
            strong(data-bind='text: following')
            | &nbsp;following
        li
          a(data-bind='attr: { href: followersUrl }')
            strong(data-bind='text: followers')
            | &nbsp;followers

// Progress indicator
div.page-spinner
  i.icon-spinner.icon-spin.icon-4x

div.alert.alert-danger.page-error