script(type='text/html', id='timeline-template')
  div.row-fluid
    div.span12.timeline-feed
      ul(data-bind='foreach: posts')
        li
          div.author
            a.account(data-bind="attr: { href: feed }")
              img(data-bind="attr: { src: picture }", alt='avatar')
          div.name(style='width:94%')
            a(data-bind='text: name, attr: { href: postUrl }', style='font-weight: bold;')
            a.account(data-bind="text: '@' + account, attr: { href: feed }")
          div.date(data-bind="text: created.calendar(), attr: { title : created.format('LLLL') }")
          div.delete(data-bind='visible: canDismiss, click: $parent.removePost')
            i.icon-remove
          div.message
            div(data-bind='html: content')
            // ko if: openBlank
            a(data-bind='attr: { href: postUrl }')
              i.icon-comment(style='color:#333;')
              span(data-bind="text: ' View all {0} comments'.formatString(commentsCount())")
            // /ko
            // ko ifnot: openBlank
            a(href='#', data-link-type='comment')
              i.icon-comment(style='color:#333')
              | &nbsp;Comments
              span(data-bind="visible: commentsCount() > 0, text: ' (' + commentsCount() + ')'")
            // /ko

          ul
            // ko foreach: comments
            li
              div.author
                img(data-bind="attr: { src: picture }", alt='avatar')
              div.name(style='width:94%')
                span(data-bind='text: name', style='font-weight: bold;')
                a.account(data-bind="text: '@' + account, attr: { href: feed }")
              div.date(data-bind="text: created.calendar(), attr: { title : created.format('LLLL') }")
              div.message(data-bind='html: content')
            // /ko
            li
              div.author
                img(data-bind="attr: { src: collabjs.currentUser.getPictureUrl() }", alt='avatar')
              form(method='post', action='', onSubmit='collabjs.ui.doPostComment(this); return false;')
                input(type='hidden', name='_csrf', value=token)
                input(name='postId', type='hidden', data-bind='value: id')
                input.input-block-level.border-sharp(name='content', type='text', placeholder='Write a comment...', autocomplete='off'
                  data-bind="attr: { id: 'comment-box-' + id }")