div.row-fluid
  div.span12.profilebox.blue(data-bind='with: user')
    div.header(data-bind='text: name + " @" + account')
    div.content
      div.media
        div.pull-left
          img.media-object.avatar(data-bind='attr: { src: picture }', alt='')
        div.media-body
          h4.media-heading
            span(data-bind='text: name')
            small(data-bind='text: " @" + account')
          span
            i.icon-pencil
            | &nbsp;
            em(data-bind='text: bio')
          div
            span
              i.icon-globe
              | &nbsp;
              a(data-bind='attr: { href: website }, text: website', target='_blank')
          div
            span.bfh-countries(data-bind='country: location', data-flags='true')
          div
            a.btn.btn-success.flat.pull-right.profile-btn(style='display:none', data-bind='visible: isOwnProfile', href='/account') Edit profile
            a.btn.btn-inverse.flat.pull-right.profile-btn(style='display:none', data-bind='visible: canUnfollow, click: unfollow') Unfollow
            a.btn.btn-primary.flat.pull-right.profile-btn(style='display:none', data-bind='visible: canFollow, click: follow') Follow
    div.footer
      ul.profile-stats-list(style='padding-top:10px;')
        li.profile-stats
          a.blue(data-bind='attr: { href: feed }, text: posts + " posts"')
        li.profile-stats
          a.blue(data-bind='attr: { href: followingUrl }, text: following + " following"')
        li.profile-stats
          a.blue(data-bind='attr: { href: followersUrl }, text: followers + " followers"')