div.row
  div.panel.panel-primary(data-bind='with: user')
    div.panel-heading
      h3.panel-title(data-bind='text: name + " @" + account')
    div.panel-body
      div.media
        div.pull-left
          img.media-object.avatar(data-bind='attr: { src: picture }', alt='')
        div.media-body
          h4.media-heading
            span(data-bind='text: name')
            small(data-bind='text: " @" + account')
          ul.list-unstyled
            li
              span(data-bind='country: location')
            li
              span
                i.icon-globe
                | &nbsp;
                a(data-bind='attr: { href: website }, text: website', target='_blank')
            li
              span
                i.icon-pencil
                | &nbsp;
                em(data-bind='text: bio')
          a.btn.btn-success.pull-right.profile-btn(style='display:none', data-bind='visible: isOwnProfile', href='/account') Edit profile
          a.btn.btn-danger.pull-right.profile-btn(style='display:none', data-bind='visible: canUnfollow, click: unfollow') Unfollow
          a.btn.btn-default.pull-right.profile-btn(style='display:none', data-bind='visible: canFollow, click: follow') Follow

    div.panel-footer
      ul.list-inline.profile-stats
        a.blue(data-bind='attr: { href: feed }, text: posts + " posts"')
        a.blue(data-bind='attr: { href: followingUrl }, text: following + " following"')
        a.blue(data-bind='attr: { href: followersUrl }, text: followers + " followers"')