div.well.sidebar-nav.sidebar-nav-fixed
	ul.nav.nav-list#sidebar
		li.nav-header Profile
		li
			a(href='/account')
				i.icon-user
				| &nbsp;Account
		li.disabled
			a(href='#')
				i.icon-envelope
				| &nbsp;Email settings
		li
			a(href='/account/password')
				i.icon-lock
				| &nbsp;Change password
		li.divider
		li
			a(href='/help')
				i.icon-flag
				| &nbsp;Help