// Mixins for Twitter Bootstrap
mixin showError(message, closeable)
  if (typeof(message) !== 'undefined' && message != '')
    div.alert.alert-error
      if (typeof(closeable) !== 'undefined' && closeable == true)
        button(type='button', data-dismiss='alert').close &times;
      div= message

mixin showInfo(message, closeable)
  if (typeof(message) !== 'undefined' && message != '')
    div.alert.alert-success
      if (typeof(closeable) !== 'undefined' && closeable == true)
        button(type='button', data-dismiss='alert').close &times;
      div= message