lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

.DS_Store
.idea
iisnode/
node_modules/
.elasticbeanstalk/
temp/

# collab.js files
config/*.js
!config/index.js
!config/config.global.js
!config/config.default.js
