script(src='/lib/bootstrap/js/bootstrap.min.js')
script(src='/lib/moment/js/moment.min.js')
script(src='/lib/jqBootstrapValidation/js/jqBootstrapValidation.js')
script(src='/lib/select2/select2.min.js')
script(src='/lib/wookmark/jquery.wookmark.min.js')

script(src='/lib/angular/angular.min.js')
script(src='/lib/angular/angular-resource.min.js')
script(src='/lib/angular/angular-route.min.js')
script(src='/lib/angular/angular-sanitize.min.js')
script(src='/lib/angular/modules/ng-infinite-scroll.min.js')
script(src='/lib/angular/modules/angular-moment.min.js')
script(src='/lib/angular/modules/select2.js')
script(src='/lib/angular/angular-animate.min.js')
script(src='/lib/angular/modules/loading-bar.min.js')

if collabjs.env === 'development'
  script(src='/js/collabjs.js')
  script(src='/js/app.js')

  // services
  script(src='/js/services/AuthService.js')
  script(src='/js/services/AccountService.js')
  script(src='/js/services/ProfileService.js')
  script(src='/js/services/PeopleService.js')
  script(src='/js/services/PostsService.js')
  script(src='/js/services/HelpService.js')
  script(src='/js/services/SearchService.js')
  script(src='/js/services/MenuService.js')

  // directives
  script(src='/js/directives/menubar.js')
  script(src='/js/directives/sidebar.js')
  script(src='/js/directives/onDocumentClick.js')
  script(src='/js/directives/onOutsideElementClick.js')
  script(src='/js/directives/ngCardLayout.js')

  // filters
  script(src='/js/filters/twitterize.js')
  script(src='/js/filters/wallUrl.js')

  // controllers
  script(src='/js/controllers/AppController.js')
  script(src='/js/controllers/LoginController.js')
  script(src='/js/controllers/RegistrationController.js')
  script(src='/js/controllers/MenuController.js')
  script(src='/js/controllers/UserProfileController.js')
  script(src='/js/controllers/PeopleListController.js')
  script(src='/js/controllers/FollowingController.js')
  script(src='/js/controllers/FollowersController.js')
  script(src='/js/controllers/MentionsController.js')
  script(src='/js/controllers/WallController.js')
  script(src='/js/controllers/NewsController.js')
  script(src='/js/controllers/CardController.js')
  script(src='/js/controllers/StatusController.js')
  script(src='/js/controllers/SearchController.js')
  script(src='/js/controllers/PostController.js')
  script(src='/js/controllers/AccountController.js')
  script(src='/js/controllers/PasswordController.js')
  script(src='/js/controllers/HelpController.js')
else
  script(src='/js/collabjs.core.min.js')

//- Load additional JavaScript files
each js in collabjs.config.client.js
  script(src=js)

script.
  collabjs.config.allowUserRegistration = #{collabjs.config.server.allowUserRegistration};

if (collabjs.user)
  script.
    collabjs.currentUser.pictureUrl = '#{collabjs.user.pictureUrl}';