link(href='//fonts.googleapis.com/css?family=Roboto:400,500', rel='stylesheet', type='text/css')
link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='/lib/select2/select2.css')
link(rel='stylesheet', href='/css/select2-bootstrap.css')
link(rel='stylesheet', href='/css/GitHub2md.css')
link(rel='stylesheet', href='/lib/angular/modules/loading-bar.min.css')

if collabjs.env === 'development'
  link(rel='stylesheet', href='/css/collabjs.css')
else
  link(rel='stylesheet', href='/css/collabjs.min.css')

//- Load additional CSS files
each css in collabjs.config.client.css
  link(rel='stylesheet', href=css)