doctype html
html(ng-app='collabjs', ng-controller='AppController', ng-init="init('#{collabjs.token}')")
  head
    title(ng-bind="title + ' | ' + appName")

    include _meta
    include _styles

    block styles

    script(src='/lib/jquery/js/jquery.min.js')

  body
    div(ng-include="'/templates/navigation-bar.html'")

    div.container.fill-width
      div.row
        div.col-md-12.col-lg-12
          block content

    include _scripts
    block scripts