@import "bootstrap";
@import "profile";
@import "timeline";

/*
  Main collab.js stylesheet
*/

body {
  padding-top: 60px;
  padding-bottom: 40px;
  color: #383e4b;
  background: #f5f5f5;
}

.sidebar-left {
  background: #fff;
}

h3 > i {
  font-size: 14px;
  vertical-align: text-top !important;
}

.field-validation-error {
  color: #B94A48;
}

div.page-spinner {
  text-align: center;
  display: none;
}

.page-error {
  text-align: center;
  display: none;
}

.profile-stats {
  line-height: 16px;

  a {
    display: inline;
    color: #999;
    line-height: 16px;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    border-left: 1px solid #E8E8E8;
    padding-left: 5px;
    &:hover { color: steelblue; }
  }

  strong {
    display: inline;
    color: #333;
    font-weight: bold;
    font-size: 14px;
  }
}

.profile-stats-list {
  list-style: none;
  margin: 0;

  li {
    display: inline;
    &:first-child {
      a {
        border-left: none;
        margin-left: 0;
        padding-left: 0;
      }
    }

    &.profile-stats a.blue {
      color: #08c;
    }
  }
}

a.profile-link {
  padding-bottom: 7px !important;

  div {
    white-space: nowrap;
    line-height: 14px;
    padding-top: 2px;
  }

  img {
    display: inline-block;
    border: 0;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
    position: absolute;
    top: 8px;
  }

  strong {
    white-space: nowrap;
    display: block;
    padding-left: 40px;
    font-size: 13px;
    font-weight: bold;
  }

  small {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding-left: 40px;
    font-size: 11px;
  }
}

a.profile-btn {
  min-width: 80px;
}

.no-top-margin {
  margin-top: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

a.account {
  color: #808080;
  font-weight: normal;
  font-size: 90%;
  padding-left: 5px;
}

input[type="text"].border-sharp {
  border-radius: 0;
}

.bio-counter {
  width: 530px;
}

.bio-counter-label {
  color: #999;
  float: right;
  font-weight: bold;
}

form {

  .form-actions {

    border-top: none;
    padding-top: 0;

    a.m-btn {
      vertical-align: middle;
    }
  }

  &.status-form {
    textarea {
      resize: vertical;
      max-height: 300px;
    }

    div.footer {
      padding-bottom: 30px;
    }
  }

  &.account-form {
    .control-group {
      margin-bottom: 10px;
    }

    .controls-hint {
      color: #999;
    }

    textarea.v-resize {
      resize: vertical;
    }
  }
}

.bold {
  font-weight: bold;
}

i.black {
  color: #333;
}