/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
  /*-webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);*/
  border: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
::-webkit-scrollbar-thumb:active {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}
/* Main collab.js stylesheet */
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  /*padding-top: 70px;*/
  /*padding-bottom: 70px;*/
  padding-top: 51px;
  padding-bottom: 0;
  color: #383e4b;
  background: #f5f5f5;
  /* IE 11 scrollbar fix */
  -ms-overflow-style: scrollbar;
}
body > .container {
  height: 100%;
  overflow: auto;
}
.content-container {
  margin-top: 20px;
}
.fill-width {
  width: 100%;
}
small.project-status {
  vertical-align: top;
  font-size: 16px;
}
.field-validation-error {
  color: #B94A48;
}
div.page-spinner {
  text-align: center;
  display: none;
}
.profile-stats {
  line-height: 16px;
}
.profile-stats a {
  display: inline;
  color: #999;
  line-height: 16px;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 5px;
}
.profile-stats a:hover {
  color: steelblue;
}
.profile-stats strong {
  display: inline;
  color: #333;
  font-weight: bold;
  font-size: 14px;
}
a.profile-btn {
  min-width: 80px;
}
a.account {
  color: #808080;
  font-weight: normal;
  font-size: 90%;
  padding-left: 5px;
  text-decoration: none;
}
a.account:hover {
  color: steelblue;
}
a.account-name {
  font-weight: bold;
  text-decoration: none;
}
a.no-decoration {
  text-decoration: none;
}
.bio-counter-label {
  color: #999;
  float: right;
  font-weight: bold;
}
textarea.v-resize {
  resize: vertical;
}
.bold {
  font-weight: bold;
}
i.black {
  color: #333;
}
.flat {
  border-radius: 0;
}
img.avatar {
  height: 50px;
  border-radius: 50em;
}
a.comments-button {
  text-decoration: none;
}
.modal-form .modal-content {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.modal-form .modal-content form {
  margin-bottom: 0;
}
.modal-form .modal-content form input[type='text'] {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.modal-form .modal-footer .btn {
  min-width: 62px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.post-link-box {
  border: 1px solid #d9d9d9;
  color: #737373;
  cursor: default !important;
  background-color: #ffffff !important;
  padding: 7px;
}
.post-link-box:focus {
  border: 1px solid #d9d9d9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* Country Flags (16x16) */
.flag-icon-16 {
  background: url("../img/flags16.png");
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.flag-icon-16.flag-ad {
  background-position: 0 -352px;
}
.flag-icon-16.flag-ae {
  background-position: 0 -368px;
}
.flag-icon-16.flag-af {
  background-position: 0 -384px;
}
.flag-icon-16.flag-ag {
  background-position: 0 -400px;
}
.flag-icon-16.flag-ai {
  background-position: 0 -416px;
}
.flag-icon-16.flag-al {
  background-position: 0 -432px;
}
.flag-icon-16.flag-am {
  background-position: 0 -448px;
}
.flag-icon-16.flag-an {
  background-position: 0 -464px;
}
.flag-icon-16.flag-ao {
  background-position: 0 -480px;
}
.flag-icon-16.flag-aq {
  background-position: 0 -496px;
}
.flag-icon-16.flag-ar {
  background-position: 0 -512px;
}
.flag-icon-16.flag-as {
  background-position: 0 -528px;
}
.flag-icon-16.flag-at {
  background-position: 0 -544px;
}
.flag-icon-16.flag-au {
  background-position: 0 -560px;
}
.flag-icon-16.flag-aw {
  background-position: 0 -576px;
}
.flag-icon-16.flag-az {
  background-position: 0 -592px;
}
.flag-icon-16.flag-ba {
  background-position: 0 -608px;
}
.flag-icon-16.flag-bb {
  background-position: 0 -624px;
}
.flag-icon-16.flag-bd {
  background-position: 0 -640px;
}
.flag-icon-16.flag-be {
  background-position: 0 -656px;
}
.flag-icon-16.flag-bf {
  background-position: 0 -672px;
}
.flag-icon-16.flag-bg {
  background-position: 0 -688px;
}
.flag-icon-16.flag-bh {
  background-position: 0 -704px;
}
.flag-icon-16.flag-bi {
  background-position: 0 -720px;
}
.flag-icon-16.flag-bj {
  background-position: 0 -736px;
}
.flag-icon-16.flag-bm {
  background-position: 0 -752px;
}
.flag-icon-16.flag-bn {
  background-position: 0 -768px;
}
.flag-icon-16.flag-bo {
  background-position: 0 -784px;
}
.flag-icon-16.flag-br {
  background-position: 0 -800px;
}
.flag-icon-16.flag-bs {
  background-position: 0 -816px;
}
.flag-icon-16.flag-bt {
  background-position: 0 -832px;
}
.flag-icon-16.flag-bw {
  background-position: 0 -848px;
}
.flag-icon-16.flag-by {
  background-position: 0 -864px;
}
.flag-icon-16.flag-bz {
  background-position: 0 -880px;
}
.flag-icon-16.flag-ca {
  background-position: 0 -896px;
}
.flag-icon-16.flag-cg {
  background-position: 0 -912px;
}
.flag-icon-16.flag-cf {
  background-position: 0 -928px;
}
.flag-icon-16.flag-cd {
  background-position: 0 -944px;
}
.flag-icon-16.flag-ch {
  background-position: 0 -960px;
}
.flag-icon-16.flag-ci {
  background-position: 0 -976px;
}
.flag-icon-16.flag-ck {
  background-position: 0 -992px;
}
.flag-icon-16.flag-cl {
  background-position: 0 -1008px;
}
.flag-icon-16.flag-cm {
  background-position: 0 -1024px;
}
.flag-icon-16.flag-cn {
  background-position: 0 -1040px;
}
.flag-icon-16.flag-co {
  background-position: 0 -1056px;
}
.flag-icon-16.flag-cr {
  background-position: 0 -1072px;
}
.flag-icon-16.flag-cu {
  background-position: 0 -1088px;
}
.flag-icon-16.flag-cv {
  background-position: 0 -1104px;
}
.flag-icon-16.flag-cy {
  background-position: 0 -1120px;
}
.flag-icon-16.flag-cz {
  background-position: 0 -1136px;
}
.flag-icon-16.flag-de {
  background-position: 0 -1152px;
}
.flag-icon-16.flag-dj {
  background-position: 0 -1168px;
}
.flag-icon-16.flag-dk {
  background-position: 0 -1184px;
}
.flag-icon-16.flag-dm {
  background-position: 0 -1200px;
}
.flag-icon-16.flag-do {
  background-position: 0 -1216px;
}
.flag-icon-16.flag-dz {
  background-position: 0 -1232px;
}
.flag-icon-16.flag-ec {
  background-position: 0 -1248px;
}
.flag-icon-16.flag-ee {
  background-position: 0 -1264px;
}
.flag-icon-16.flag-eg {
  background-position: 0 -1280px;
}
.flag-icon-16.flag-eh {
  background-position: 0 -1296px;
}
.flag-icon-16.flag-er {
  background-position: 0 -1312px;
}
.flag-icon-16.flag-es {
  background-position: 0 -1328px;
}
.flag-icon-16.flag-et {
  background-position: 0 -1344px;
}
.flag-icon-16.flag-fi {
  background-position: 0 -1360px;
}
.flag-icon-16.flag-fj {
  background-position: 0 -1376px;
}
.flag-icon-16.flag-fm {
  background-position: 0 -1392px;
}
.flag-icon-16.flag-fo {
  background-position: 0 -1408px;
}
.flag-icon-16.flag-fr {
  background-position: 0 -1424px;
}
.flag-icon-16.flag-ga {
  background-position: 0 -1440px;
}
.flag-icon-16.flag-gb {
  background-position: 0 -1456px;
}
.flag-icon-16.flag-gd {
  background-position: 0 -1472px;
}
.flag-icon-16.flag-ge {
  background-position: 0 -1488px;
}
.flag-icon-16.flag-gg {
  background-position: 0 -1504px;
}
.flag-icon-16.flag-gh {
  background-position: 0 -1520px;
}
.flag-icon-16.flag-gi {
  background-position: 0 -1536px;
}
.flag-icon-16.flag-gl {
  background-position: 0 -1552px;
}
.flag-icon-16.flag-gm {
  background-position: 0 -1568px;
}
.flag-icon-16.flag-gn {
  background-position: 0 -1584px;
}
.flag-icon-16.flag-gp {
  background-position: 0 -1600px;
}
.flag-icon-16.flag-gq {
  background-position: 0 -1616px;
}
.flag-icon-16.flag-gr {
  background-position: 0 -1632px;
}
.flag-icon-16.flag-gt {
  background-position: 0 -1648px;
}
.flag-icon-16.flag-gu {
  background-position: 0 -1664px;
}
.flag-icon-16.flag-gw {
  background-position: 0 -1680px;
}
.flag-icon-16.flag-gy {
  background-position: 0 -1696px;
}
.flag-icon-16.flag-hk {
  background-position: 0 -1712px;
}
.flag-icon-16.flag-hn {
  background-position: 0 -1728px;
}
.flag-icon-16.flag-hr {
  background-position: 0 -1744px;
}
.flag-icon-16.flag-ht {
  background-position: 0 -1760px;
}
.flag-icon-16.flag-hu {
  background-position: 0 -1776px;
}
.flag-icon-16.flag-id {
  background-position: 0 -1792px;
}
.flag-icon-16.flag-mc {
  background-position: 0 -1792px;
}
.flag-icon-16.flag-ie {
  background-position: 0 -1808px;
}
.flag-icon-16.flag-il {
  background-position: 0 -1824px;
}
.flag-icon-16.flag-im {
  background-position: 0 -1840px;
}
.flag-icon-16.flag-in {
  background-position: 0 -1856px;
}
.flag-icon-16.flag-iq {
  background-position: 0 -1872px;
}
.flag-icon-16.flag-ir {
  background-position: 0 -1888px;
}
.flag-icon-16.flag-is {
  background-position: 0 -1904px;
}
.flag-icon-16.flag-it {
  background-position: 0 -1920px;
}
.flag-icon-16.flag-je {
  background-position: 0 -1936px;
}
.flag-icon-16.flag-jm {
  background-position: 0 -1952px;
}
.flag-icon-16.flag-jo {
  background-position: 0 -1968px;
}
.flag-icon-16.flag-jp {
  background-position: 0 -1984px;
}
.flag-icon-16.flag-ke {
  background-position: 0 -2000px;
}
.flag-icon-16.flag-kg {
  background-position: 0 -2016px;
}
.flag-icon-16.flag-kh {
  background-position: 0 -2032px;
}
.flag-icon-16.flag-ki {
  background-position: 0 -2048px;
}
.flag-icon-16.flag-km {
  background-position: 0 -2064px;
}
.flag-icon-16.flag-kn {
  background-position: 0 -2080px;
}
.flag-icon-16.flag-kp {
  background-position: 0 -2096px;
}
.flag-icon-16.flag-kr {
  background-position: 0 -2112px;
}
.flag-icon-16.flag-kw {
  background-position: 0 -2128px;
}
.flag-icon-16.flag-ky {
  background-position: 0 -2144px;
}
.flag-icon-16.flag-kz {
  background-position: 0 -2160px;
}
.flag-icon-16.flag-la {
  background-position: 0 -2176px;
}
.flag-icon-16.flag-lb {
  background-position: 0 -2192px;
}
.flag-icon-16.flag-lc {
  background-position: 0 -2208px;
}
.flag-icon-16.flag-li {
  background-position: 0 -2224px;
}
.flag-icon-16.flag-lk {
  background-position: 0 -2240px;
}
.flag-icon-16.flag-lr {
  background-position: 0 -2256px;
}
.flag-icon-16.flag-ls {
  background-position: 0 -2272px;
}
.flag-icon-16.flag-lt {
  background-position: 0 -2288px;
}
.flag-icon-16.flag-lu {
  background-position: 0 -2304px;
}
.flag-icon-16.flag-lv {
  background-position: 0 -2320px;
}
.flag-icon-16.flag-ly {
  background-position: 0 -2336px;
}
.flag-icon-16.flag-ma {
  background-position: 0 -2352px;
}
.flag-icon-16.flag-md {
  background-position: 0 -2368px;
}
.flag-icon-16.flag-me {
  background-position: 0 -2384px;
}
.flag-icon-16.flag-mg {
  background-position: 0 -2400px;
}
.flag-icon-16.flag-mh {
  background-position: 0 -2416px;
}
.flag-icon-16.flag-mk {
  background-position: 0 -2432px;
}
.flag-icon-16.flag-ml {
  background-position: 0 -2448px;
}
.flag-icon-16.flag-mm {
  background-position: 0 -2464px;
}
.flag-icon-16.flag-mn {
  background-position: 0 -2480px;
}
.flag-icon-16.flag-mo {
  background-position: 0 -2496px;
}
.flag-icon-16.flag-mq {
  background-position: 0 -2512px;
}
.flag-icon-16.flag-mr {
  background-position: 0 -2528px;
}
.flag-icon-16.flag-ms {
  background-position: 0 -2544px;
}
.flag-icon-16.flag-mt {
  background-position: 0 -2560px;
}
.flag-icon-16.flag-mu {
  background-position: 0 -2576px;
}
.flag-icon-16.flag-mv {
  background-position: 0 -2592px;
}
.flag-icon-16.flag-mw {
  background-position: 0 -2608px;
}
.flag-icon-16.flag-mx {
  background-position: 0 -2624px;
}
.flag-icon-16.flag-my {
  background-position: 0 -2640px;
}
.flag-icon-16.flag-mz {
  background-position: 0 -2656px;
}
.flag-icon-16.flag-na {
  background-position: 0 -2672px;
}
.flag-icon-16.flag-nc {
  background-position: 0 -2688px;
}
.flag-icon-16.flag-ne {
  background-position: 0 -2704px;
}
.flag-icon-16.flag-ng {
  background-position: 0 -2720px;
}
.flag-icon-16.flag-ni {
  background-position: 0 -2736px;
}
.flag-icon-16.flag-nl {
  background-position: 0 -2752px;
}
.flag-icon-16.flag-no {
  background-position: 0 -2768px;
}
.flag-icon-16.flag-np {
  background-position: 0 -2784px;
}
.flag-icon-16.flag-nr {
  background-position: 0 -2800px;
}
.flag-icon-16.flag-nz {
  background-position: 0 -2816px;
}
.flag-icon-16.flag-om {
  background-position: 0 -2832px;
}
.flag-icon-16.flag-pa {
  background-position: 0 -2848px;
}
.flag-icon-16.flag-pe {
  background-position: 0 -2864px;
}
.flag-icon-16.flag-pf {
  background-position: 0 -2880px;
}
.flag-icon-16.flag-pg {
  background-position: 0 -2896px;
}
.flag-icon-16.flag-ph {
  background-position: 0 -2912px;
}
.flag-icon-16.flag-pk {
  background-position: 0 -2928px;
}
.flag-icon-16.flag-pl {
  background-position: 0 -2944px;
}
.flag-icon-16.flag-pr {
  background-position: 0 -2960px;
}
.flag-icon-16.flag-ps {
  background-position: 0 -2976px;
}
.flag-icon-16.flag-pt {
  background-position: 0 -2992px;
}
.flag-icon-16.flag-pw {
  background-position: 0 -3008px;
}
.flag-icon-16.flag-py {
  background-position: 0 -3024px;
}
.flag-icon-16.flag-qa {
  background-position: 0 -3040px;
}
.flag-icon-16.flag-re {
  background-position: 0 -3056px;
}
.flag-icon-16.flag-ro {
  background-position: 0 -3072px;
}
.flag-icon-16.flag-rs {
  background-position: 0 -3088px;
}
.flag-icon-16.flag-ru {
  background-position: 0 -3104px;
}
.flag-icon-16.flag-rw {
  background-position: 0 -3120px;
}
.flag-icon-16.flag-sa {
  background-position: 0 -3136px;
}
.flag-icon-16.flag-sb {
  background-position: 0 -3152px;
}
.flag-icon-16.flag-sc {
  background-position: 0 -3168px;
}
.flag-icon-16.flag-sd {
  background-position: 0 -3184px;
}
.flag-icon-16.flag-se {
  background-position: 0 -3200px;
}
.flag-icon-16.flag-sg {
  background-position: 0 -3216px;
}
.flag-icon-16.flag-si {
  background-position: 0 -3232px;
}
.flag-icon-16.flag-sk {
  background-position: 0 -3248px;
}
.flag-icon-16.flag-sl {
  background-position: 0 -3264px;
}
.flag-icon-16.flag-sm {
  background-position: 0 -3280px;
}
.flag-icon-16.flag-sn {
  background-position: 0 -3296px;
}
.flag-icon-16.flag-so {
  background-position: 0 -3312px;
}
.flag-icon-16.flag-sr {
  background-position: 0 -3328px;
}
.flag-icon-16.flag-st {
  background-position: 0 -3344px;
}
.flag-icon-16.flag-sv {
  background-position: 0 -3360px;
}
.flag-icon-16.flag-sy {
  background-position: 0 -3376px;
}
.flag-icon-16.flag-sz {
  background-position: 0 -3392px;
}
.flag-icon-16.flag-tc {
  background-position: 0 -3408px;
}
.flag-icon-16.flag-td {
  background-position: 0 -3424px;
}
.flag-icon-16.flag-tg {
  background-position: 0 -3440px;
}
.flag-icon-16.flag-th {
  background-position: 0 -3456px;
}
.flag-icon-16.flag-tj {
  background-position: 0 -3472px;
}
.flag-icon-16.flag-tl {
  background-position: 0 -3488px;
}
.flag-icon-16.flag-tm {
  background-position: 0 -3504px;
}
.flag-icon-16.flag-tn {
  background-position: 0 -3520px;
}
.flag-icon-16.flag-to {
  background-position: 0 -3536px;
}
.flag-icon-16.flag-tr {
  background-position: 0 -3552px;
}
.flag-icon-16.flag-tt {
  background-position: 0 -3568px;
}
.flag-icon-16.flag-tv {
  background-position: 0 -3584px;
}
.flag-icon-16.flag-tw {
  background-position: 0 -3600px;
}
.flag-icon-16.flag-tz {
  background-position: 0 -3616px;
}
.flag-icon-16.flag-ua {
  background-position: 0 -3632px;
}
.flag-icon-16.flag-ug {
  background-position: 0 -3648px;
}
.flag-icon-16.flag-us {
  background-position: 0 -3664px;
}
.flag-icon-16.flag-uy {
  background-position: 0 -3680px;
}
.flag-icon-16.flag-uz {
  background-position: 0 -3696px;
}
.flag-icon-16.flag-va {
  background-position: 0 -3712px;
}
.flag-icon-16.flag-vc {
  background-position: 0 -3728px;
}
.flag-icon-16.flag-ve {
  background-position: 0 -3744px;
}
.flag-icon-16.flag-vg {
  background-position: 0 -3760px;
}
.flag-icon-16.flag-vi {
  background-position: 0 -3776px;
}
.flag-icon-16.flag-vn {
  background-position: 0 -3792px;
}
.flag-icon-16.flag-vu {
  background-position: 0 -3808px;
}
.flag-icon-16.flag-ws {
  background-position: 0 -3824px;
}
.flag-icon-16.flag-ye {
  background-position: 0 -3840px;
}
.flag-icon-16.flag-za {
  background-position: 0 -3856px;
}
.flag-icon-16.flag-zm {
  background-position: 0 -3872px;
}
.flag-icon-16.flag-zw {
  background-position: 0 -3888px;
}
/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
/* menu */
.menu-actions {
  margin-bottom: -1px;
}
.menu-actions > li.active {
  border-bottom: 1px blue solid;
}
.settings-menu-item {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.settings-menu-item img.user-avatar {
  display: inline-block;
  border: 4px solid #fff;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.settings-menu-item .user-account {
  display: block;
  color: #9EA1AA;
  margin-top: 15px;
  text-shadow: 0 1px white;
  font-size: 16px;
}
/* Login */
.login-box,
.register-box {
  margin-top: 80px;
}
.login-box a.link,
.register-box a.link {
  text-decoration: none;
  color: #78808a;
  font-size: 12px;
}
.login-box a.link:hover,
.register-box a.link:hover {
  color: #5a6573;
}
.login-box .panel-title,
.register-box .panel-title {
  color: #636363;
}
/* CARD LAYOUT */
.cards-container {
  margin: 30px 0;
  position: relative;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* CARD LAYOUT */
.cards {
  list-style-type: none;
  position: relative;
  /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}
.cards li.card {
  width: 440px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none;
  /** Hide items initially to avoid a flicker effect **/
  padding: 4px;
  box-sizing: content-box;
  /* @media (max-width: 480px) { */
  /* comment list container */
}
@media (max-width: 768px) {
  .cards li.card {
    width: 100%;
  }
}
.cards li.card.inactive {
  visibility: hidden;
  opacity: 0;
}
.cards li.card img {
  display: block;
}
.cards li.card p {
  color: #666;
  font-size: 12px;
  margin: 7px 0 0 7px;
}
.cards li.card .status-card {
  padding: 5px;
}
.cards li.card .status-card textarea {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 6px 8px;
  border-radius: 0;
}
.cards li.card .status-card .btn {
  border-radius: 0;
}
.cards li.card .card-avatar {
  float: left;
  border-radius: 50%;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
}
.cards li.card .card-avatar img {
  border-radius: 50%;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
  border: 0;
}
.cards li.card .card-content {
  padding: 10px;
}
.cards li.card .card-content:hover .card-options-button {
  display: inline-block;
}
.cards li.card .card-options-button {
  display: none;
  float: right;
}
.cards li.card .card-options-button a {
  color: #262626;
}
.cards li.card .card-options-button .dropdown-toggle {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.cards li.card .card-options-button .dropdown-menu {
  border-radius: 0;
}
.cards li.card .card-header {
  margin-left: 60px;
  margin-right: 50px;
}
.cards li.card .card-header h3 {
  margin: 0;
  padding: 0;
  color: #636364;
  font-size: 14px;
  font-weight: 500;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.cards li.card .card-header h3 a {
  color: #262626;
}
.cards li.card .card-header .card-details {
  color: #999;
  font-size: 12px;
  display: inline-block;
  outline: none;
}
.cards li.card .card-text {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 20px;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  text-overflow: ellipsis;
}
.cards li.card .card-footer {
  border-top: 1px solid #e5e5e5;
  padding: 10px 0;
}
.cards li.card .card-footer input[type='text'] {
  width: 100%;
  border: 1px solid #ddd;
  color: #999;
  box-sizing: border-box;
  font-size: 12px;
  margin: 0;
  padding: 6px 8px;
  margin-top: 5px;
}
.cards li.card .card-footer input[type='text']:focus {
  color: #000;
}
.cards li.card .card-comments-button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  font-size: 12px;
  color: #262626;
  text-decoration: none;
}
.cards li.card .card-comments-button:hover {
  text-decoration: underline;
}
.cards li.card .card-comments-button span {
  padding-right: 5px;
}
.cards li.card .card-comments {
  overflow: visible;
  position: relative;
}
.cards li.card ul.comment-list {
  list-style-type: none;
  position: relative;
  margin: 10px 0 0;
  padding: 5px 0;
  max-height: 400px;
  overflow-y: auto;
  /* lightweight scrollbar for comments list */
}
.cards li.card ul.comment-list::-webkit-scrollbar-track {
  background: #fff;
  border: none;
}
.cards li.card ul.comment-list li.comment-content {
  padding-bottom: 20px;
}
.cards li.card ul.comment-list .comment-avatar {
  float: left;
  border-radius: 2px;
}
.cards li.card ul.comment-list .comment-avatar img {
  border-radius: 2px;
  vertical-align: middle;
  border: 0;
  width: 28px;
  height: 28px;
}
.cards li.card ul.comment-list .comment-header {
  margin-left: 35px;
}
.cards li.card ul.comment-list .comment-header h4 {
  margin: 0;
  padding: 0;
  color: #636364;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.cards li.card ul.comment-list .comment-header h4 a {
  color: #262626;
}
.cards li.card ul.comment-list .comment-header .comment-details {
  color: #999;
  font-size: 12px;
  display: inline-block;
  outline: none;
}
.cards li.card ul.comment-list .comment-text {
  margin: 0;
  margin-left: 35px;
  margin-right: 10px;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  text-overflow: ellipsis;
  font-size: 13px;
}
.wookmark-placeholder {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}
/* Additional Bootstrap helpers */
.visible-xs-i {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs-i {
    display: inline !important;
  }
}
