body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

h3 > i {
  font-size: 14px;
  vertical-align: text-top !important;
}

.field-validation-error {
  color: #B94A48;
}

.profile-stats {
    line-height: 16px;
}

.profile-stats a {
  display: inline;
  color: #999;
  line-height: 16px;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  border-left: 1px solid #E8E8E8;
  padding-left: 5px;
}

.profile-stats a:hover {
  color: steelblue;
}

.profile-stats-list {
  list-style: none;
  margin: 0;
}

.profile-stats-list li {
  display: inline;
}

.profile-stats-list li:first-child a {
  border-left: none;
  margin-left: 0;
  padding-left: 0;
}

.profile-stats strong {
  display: inline;
  color: #333;
  font-weight: bold;
  font-size: 14px;
}

/* Profile statistics */
 .profile-stats-list-horizontal {
  list-style: none;
  border-top: 1px solid #e8e8e8;
  margin: 0;
  padding: 0;
  height: 40px;
  overflow: hidden;
}

.profile-stats-list-horizontal li {
  display: inline;
}

.profile-stats-list-horizontal li:first-child a {
  border-left: 0;
}

.profile-stats-list-horizontal a {
  float: left;
  padding: 5px 15px;
  color: #999;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  border-left: 1px solid #e8e8e8;
}

.profile-stats-list-horizontal a:hover {
  color: steelblue;
}

.profile-stats-list-horizontal a strong {
  display: block;
  color: #333;
  font-size: 14px;
}

/* Twitter Bootstrap customization */

.nav-list > li > a > i {
  color: #000;
}

.nav-list > li.active > a > i {
  color: #fff;
}

.nav > .disabled > a > i {
  color: #999;
}

.modal-header {
  background-color: #ececec;
  border-bottom: 1px solid #ddd;
}
    /*.modal-header.draggable {
        cursor: move;
    }*/

.modal-header .modal-title {
  width: 75%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: #555;
  text-align: center;
}

img.media-object {
  border-radius: 4px;
}

li.media.post {
  border-top: solid 1px lightgray;
  padding-top: 15px;
}

li.media.post:first-child {
  border-top: none;
  padding-top: 0;
}

li.media.post .media-heading {
  margin-bottom: 0;
}

li.media.post .media-body blockquote {
  border-left: none;
  padding: 0;
}

li.media.comment {
  margin-top: 0;
  margin-bottom: 0;
}

li.media.comment blockquote {
  border-left: none;
  padding: 0;
  margin-bottom: 5px;
}

li.media.comment blockquote p {
  font-size: 14px;
  line-height: 1.38;
}

a.profile-link {
  padding-bottom: 7px !important;
}

a.profile-link div {
  white-space: nowrap;
  line-height: 14px;
  padding-top: 2px;
}

a.profile-link img {
  display: inline-block;
  border: 0;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  max-width: 32px;
  max-height: 32px;
  position: absolute;
  top: 8px;
}

a.profile-link strong {
  white-space: nowrap;
  display: block;
  padding-left: 40px;
  font-size: 13px;
  font-weight: bold;
}

a.profile-link small {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding-left: 40px;
  font-size: 11px;
}

div.collapse.comments {
  margin-top: 10px;
  overflow: visible !important;
}

/* Fixed sidebar */
.sidebar-nav-fixed {
  position: fixed;
  top: 60px;
  /*width: 21.97%;*/
  width: 14.3646408839779%;
}

@media (max-width: 767px) {
  .sidebar-nav-fixed {
    position: static;
    width: auto;
  }
}

@media (max-width: 979px) {
  .sidebar-nav-fixed {
    top: 70px;
  }

  .navbar-fixed-top .navbar-inner {
    padding: 0 !important;
  }
}

/* Twitter Bootstrap patches */

.media a {
  text-decoration: none;
}

/* iOS tweaks */
input[type=submit] {
  -webkit-appearance: none;
  -webkit-border-radius:0;
}

/* Twitter Bootstrap Form Helpers */

[class^="icon-flag-"],
[class*=" icon-flag-"] {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
}

div.media-body span.bfh-countries > i {
  margin-right: 0;
}