body {
  position: relative;
  padding-bottom: 40px;
  background: #fff url('../img/grid-18px-masked.png') repeat-x 0 40px;
}

.jumbotron {
  position: relative;
}

.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}

.masthead {
  padding-top: 36px;
  margin-bottom: 72px;
}

.masthead h1,
.masthead p {
  text-align: center;
}

.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

img.forkme {
  position: absolute;
  top: 40px;
  right: 0;
  border: 0;
}