body {
  position: relative;
  padding-bottom: 40px;
  background: #fff url('../img/grid-18px-masked.png') repeat-x 0 40px;
}

.jumbotron {
  position: relative;
}

.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}

.jumbotron a.btn {
  color: #fff;
  border: 0;
  font-size:24px;
  font-weight:200;
  padding: 19px 20px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  border-radius: 6px;
  min-width: 110px;
  margin-right: 10px;
}

.masthead {
  padding-top: 36px;
  margin-bottom: 72px;
}

.masthead h1,
.masthead p {
  text-align: center;
}

.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

img.forkme {
  position: absolute;
  top: 40px;
  right: 0;
  border: 0;
}