/*
  User profile
*/
img.avatar {
  height: 50px;
  border-radius: 50em;
}
.profilebox {
  border-radius: 2px;
  box-shadow: 0 1px 0 1px #e4e6eb;
  overflow: hidden;
  margin: 0 0 28px 0;
  background: #fff;
  text-align: center;
}
.profilebox.blue .header {
  background: #36a9e1;
}
.profilebox .header {
  padding: 10px;
  color: #fff;
  background: #eaebef;
}
.profilebox .content {
  padding: 5px 0;
  background-color: #e4e6eb;
  text-align: left;
  color: #383e4b;
}
.profilebox .content img.avatar {
  height: 50px;
  border-radius: 50em;
  box-shadow: 0 1px 0 1px #e4e6eb;
  margin-left: 10px;
}
.profilebox .footer {
  color: #383e4b;
  padding: 10px;
}
