option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
    option_name: GzipCompression
    value: true
    option_name: NodeCommand
    value: server.js
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /public
    value: /public

files:
  /etc/nginx/conf.d/gzip.conf:
    content: |
      gzip_types application/json;