option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_ENV
    value: production
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx  
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: GzipCompression
    value: true
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: server.js
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /public/lib
    value: /public/lib
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /public/css
    value: /public/css
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /public/js
    value: /public/js
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /public/img
    value: /public/img


#files:
#  /etc/nginx/conf.d/gzip.conf:
#    content: |
#      gzip_types application/json;