<div class="container" ng-init="init()">
  <div class="row">
    <div class="col-md-3" ng-include="'/templates/account/sidebar.html'"></div>
    <div class="col-md-9">
      <div class="page-header">
        <h3><i class="fa fa-envelope-o"></i> Email Settings</h3>
      </div>

      <div class="alert alert-danger" ng-if="error">
        <button class="close" type="button" ng-click="dismissError()">&times;</button>
        <span>{{error}}</span>
      </div>

      <div class="alert alert-success" ng-if="info">
        <button class="close" type="button" ng-click="dismissInfo()">&times;</button>
        <span>{{info}}</span>
      </div>

      <form class="form-horizontal" role="form" ng-submit="submit()">
        <div class="form-group">
          <label class="col-lg-2 control-label" for="oldEmail">Old email</label>
          <div class="col-lg-4">
            <input class="form-control" ng-model="oldEmail" type="email" required="required" id="oldEmail">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label" for="newEmail">New email</label>
          <div class="col-lg-4">
            <input class="form-control" ng-model="newEmail" type="email" required="required" id="newEmail" name="newEmail">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label" for="confirmEmail">Confirm email</label>
          <div class="col-lg-4">
            <input class="form-control" ng-model="confirmEmail" type="email" required="required" id="confirmEmail"
                   data-validation-required-message="Email confirmation is required"
                   data-validation-matches-match="newEmail"
                   data-validation-matches-message="Must match email entered above">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-4">
            <a class="btn btn-default" href="/#/account">Cancel</a>
            <input class="btn btn-primary" type="submit" value="Change email" style="margin-left: 5px;">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(function() {
    $("input").not(["type=submit"]).jqBootstrapValidation();
  });
</script>