<p class="lead" ng-show="hasNoPeople">No people found...</p>

<ul class="media-list">
  <li class="media post" ng-repeat="profile in people | orderBy:'created':false" ng-hide="hasNoPeople">
    <img class="pull-left avatar" ng-src="{{profile.pictureUrl}}" alt="">
    <div class="media-body">
      <div class="media-heading" style="font-weight: normal;">
        <span>
          <a ng-href="{{profile | wallUrl}}">
            <strong>{{profile.name}}</strong>
          </a>
          <a ng-href="{{profile | wallUrl}}" style="color:grey; font-weight: normal; font-size: 90%; padding-left: 5px;">@{{profile.account}}</a>
        </span>
        <a class="btn btn-default pull-right profile-btn" ng-show="canFollow(profile)" ng-click="follow(profile)">Follow</a>
        <a class="btn btn-danger pull-right profile-btn" ng-show="canUnfollow(profile)" ng-click="unfollow(profile)">Unfollow</a>
        <a class="btn btn-success pull-right profile-btn" ng-show="profile.isOwnProfile" href="/#/account">Edit profile</a>
      </div>
      <ul class="list-unstyled">
        <li>
          <span style="display: block">
            <i class="flag-icon-16 flag-{{profile.location.toLowerCase()}}"></i>{{getCountryName(profile)}}
          </span>
        </li>
        <li>
          <a ng-href="{{profile.website}}" target="_blank">{{profile.website}}</a>
        </li>
        <li>
          <em>{{profile.bio}}</em>
        </li>
      </ul>
      <ul class="list-inline profile-stats">
        <li>
          <a ng-href="{{profile | wallUrl}}">
            <strong>{{profile.posts}}</strong> posts
          </a>
        </li>
        <li>
          <a ng-href="{{getFollowingUrl(profile)}}">
            <strong>{{profile.following}}</strong> following
          </a>
        </li>
        <li>
          <a ng-href="{{getFollowersUrl(profile)}}">
            <strong>{{profile.followers}}</strong> followers
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>

<div class="page-spinner">
  <i class="fa fa-spinner fa-2x fa-spin"></i>
</div>