<div class="container">
  <div class="page-header">
    <h3><i class="fa fa-search"></i> Results for {{query}}</h3>
  </div>

  <div class="alert alert-danger" ng-if="error">
    <button class="close" type="button" ng-click="dismissError()">&times;</button>
    <span>{{error}}</span>
  </div>

  <div class="alert alert-success" ng-if="info">
    <button class="close" type="button" ng-click="dismissInfo()">&times;</button>
    <span>{{info}}</span>
  </div>

  <div class="text-right ng-cloak" style="padding-bottom: 10px;" ng-if="canWatch()">
    <button class="btn btn-success" ng-click="watch()">Watch</button>
  </div>

  <div class="text-right ng-cloak" style="padding-bottom: 10px;" ng-if="canUnwatch()">
    <button class="btn btn-danger" ng-click="unwatch()">Unwatch</button>
  </div>

  <p class="lead ng-cloak" ng-if="hasNoPosts">No entries found...</p>

  <div ng-include="'/templates/card-layout.html'"></div>

  <div class="text-center" ng-show="isLoadingMorePosts">
    <i class="fa fa-spinner fa-2x fa-spin"></i>
  </div>
</div>