<div class="modal modal-form" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <form name="form" ng-submit="okButton.action()">
        <div class="modal-body">
          <div ng-include="template"></div>
        </div>
        <div class="modal-footer">
          <button ng-if="cancelButton.enabled" type="button" class="btn btn-default" ng-click="cancelButton.action()">{{cancelButton.title}}</button>
          <input ng-if="okButton.enabled" type="submit" id="submit" class="btn btn-primary" value="{{okButton.title}}">
        </div>
      </form>
    </div>
  </div>
</div>