div.list-group(sidebar='active', data-subpaths='true')
  a.list-group-item(href='/#/account')
    i.fa.fa-user.fa-fw
    | &nbsp;Profile
  a.list-group-item(href='/#/account/password')
    i.fa.fa-key.fa-fw
    | &nbsp;Change Password