div.container
  div.row
    div.col-md-4.col-md-offset-4
      div.panel.panel-default.login-box
        div.panel-heading
          h3.panel-title Login
        div.panel-body
          p.text-danger.ng-cloak(ng-if='error') {{error}}
          form(role='form', ng-submit='login()')
            div.form-group
              div.input-group
                span.input-group-addon @
                input.form-control(ng-model='username', type='text', id='username', name='username', required, placeholder='username')
            div.form-group
              div.input-group
                span.input-group-addon
                  i.fa.fa-key
                input.form-control(ng-model='password', type='password', id='password', name='password', required, placeholder='password')
            div.form-group
              button.btn.btn-info.btn-block(type='submit')
                | Login&nbsp;
                i.fa.fa-sign-in
            a(href='/#/register').register-link
              | Don't have an account?
              strong Sign Up