div.container
  div.page-header
    h1 Sign In
    small
      | Please enter your user name and password.&nbsp;
      a(href='/register') Register
      | &nbsp;if you don't have an account.

  div.alert.alert-danger.ng-cloak(ng-if='error')
    button(type='button', ng-click='dismissError()').close &times;
    span {{error}}

  form.form-horizontal(role='form', ng-submit='login()')
    div.form-group
      label(for='username').col-lg-2.control-label Account
      div.col-lg-4.input-group
        span.input-group-addon @
        input.form-control(ng-model='username', type='text', id='username', name='username', required, placeholder='e.g. johndoe')
    div.form-group
      label(for='password').col-lg-2.control-label Password
      div.col-lg-4.input-group
        span.input-group-addon
          i.fa.fa-key
        input.form-control(ng-model='password', type='password', id='password', name='password', required, placeholder='type password')
    div.form-group
      div.col-lg-offset-2.col-lg-4
        input.btn.btn-success(type='submit', value='Sign In')