div.container
  div.page-header
    h3
      i.fa.fa-globe
      | &nbsp;Mentions

  p.lead(ng-show='hasNoPosts') No mentions found...

  include posts-list
  include _spinner

  div.alert.alert-error.page-error