div.cards-container(ng-init="init('#{collabjs.token}')")
  ul.cards(infinite-scroll='loadMorePosts()', infinite-scroll-immediate-check='false')
    li.card
      form.status-card(ng-controller='StatusController', ng-init="init('#{collabjs.token}')", ng-submit='submit()', role='form')
        textarea.form-control(ng-model='content', name='content', style='resize: none', rows='3', placeholder="Share what's new...")
        div.text-right(style='padding-top:5px;')
          input.btn.btn-success(type='submit', value='Share')
    li.card(ng-repeat='post in posts | orderBy:"created":true')
      div.card-content(ng-controller='CardController', ng-init='init(post)')
        div.card-options-button.btn-group
          a.dropdown-toggle(href='', data-toggle='dropdown')
            span.fa.fa-chevron-down
          ul.dropdown-menu.pull-right(role='menu')
            li
              a(href='', ng-click='mutePost(post.id)') Mute post
        div.card-avatar
          a(ng-href='{{post.account | wallUrl}}')
            img(ng-src='{{post.pictureUrl}}', alt='', width='46px', height='46px')
        div.card-header
          h3
            a(ng-href='{{post.account | wallUrl}}') {{post.name}}
          span.card-details
            span Shared publicly
            |  &nbsp;-&nbsp;
            span(am-time-ago='post.created', title='{{post.created | amDateFormat: "LLLL"}}')
        div.card-text
          div(ng-bind-html='post.content | twitterize')
        div.card-footer
          a.card-comments-button(href='', ng-if='post.commentsCount > 0', ng-click='toggleComments($event)')
            span {{ commentsExpanded ? 'Hide comments' : post.commentsCount + ' comments'}}
            i.fa(ng-class='{ "fa-chevron-up": commentsExpanded, "fa-chevron-down": !commentsExpanded }')
          div.card-comments(ng-if='commentsExpanded')
            ul.comment-list
              li.comment-content(ng-repeat='comment in post.comments')
                div.comment-avatar
                  img(ng-src='{{comment.pictureUrl}}', alt='', width='28px', height='28px')
                div.comment-header
                  h4
                    a(href='{{comment.account | wallUrl}}') {{comment.name}}
                  span.comment-details
                    span(am-time-ago='comment.created', title='{{comment.created | amDateFormat: "LLLL"}}')
                div.comment-text
                  div(ng-bind-html='comment.content | twitterize')

          form(ng-submit='postComment($event)', role='form')
            input(type='text', ng-model='comment', placeholder='Add a comment...', autocomplete='off')