p.lead(ng-show='hasNoPeople') No people found...
ul.media-list
  li.media.post(ng-repeat='profile in people', ng-hide='hasNoPeople')
    img.pull-left.avatar(ng-src='{{profile.pictureUrl}}', alt='')
    div.media-body
      div.media-heading(style='font-weight: normal')
        span
          a(ng-href='{{getProfileFeed(profile)}}')
            strong {{profile.name}}
          a(ng-href='{{getProfileFeed(profile)}}', style='color: grey; font-weight: normal; font-size: 90%; padding-left: 5px') {{'@' + profile.account}}
        a.btn.btn-default.pull-right.profile-btn(ng-show='canFollow(profile)', ng-click='follow(profile)') Follow
        a.btn.btn-danger.pull-right.profile-btn(ng-show='canUnfollow(profile)', ng-click='unfollow(profile)') Unfollow
        a.btn.btn-success.pull-right.profile-btn(ng-show='profile.isOwnProfile', href='/account') Edit profile
      ul.list-unstyled
        li
          span(style='display:block')
            i(class='flag-icon-16 flag-{{profile.location.toLowerCase()}}')
            | {{getCountryName(profile)}}
        li
          a(ng-href='{{profile.website}}', target='_blank') {{profile.website}}
        li
          em {{profile.bio}}
      ul.list-inline.profile-stats
        li
          a(ng-href='{{getProfileFeed(profile)}}')
            strong {{profile.posts}}
            | &nbsp;posts
        li
          a(ng-href='{{getFollowingUrl(profile)}}')
            strong {{profile.following}}
            | &nbsp;following
        li
          a(ng-href='{{getFollowersUrl(profile)}}')
            strong {{profile.followers}}
            | &nbsp;followers

//- Progress indicator
div.page-spinner
  i.icon-spinner.icon-spin.icon-4x

div.alert.alert-danger.page-error