div.row
  div.timeline-feed(infinite-scroll='loadMorePosts()', infinite-scroll-immediate-check='false')
    ul
      li(ng-repeat='post in posts | orderBy:"created":true')
        div.author
          a.account(ng-href='{{post.account | wallUrl}}')
            img(ng-src='{{post.pictureUrl}}', alt='')
        div.name
          a.account-name(ng-href='/#/posts/{{post.id}}') {{post.name}}
          a.account(ng-href='{{post.account | wallUrl}}') {{'@' + post.account}}
        div.date
          i.fa.fa-clock-o &nbsp;
          span(am-time-ago='post.created', title='{{post.created | amDateFormat: "LLLL"}}')
        div.delete(ng-click='deletePost(post)')
          i.fa.fa-times
        div.message
          div(ng-bind-html='post.content | twitterize')
          a.comments-button(ng-if='post.commentsCount > 9', ng-href='/#/posts/{{post.id}}')
            i.fa.fa-comments.black
            span {{' View all ' + post.commentsCount + ' comments'}}
          a.comments-button(ng-if='post.commentsCount < 10', href='', ng-click='loadPostComments(post)')
            i.fa.fa-comments.black
            | &nbsp;Comments
            span(ng-show='post.commentsCount > 0') {{'(' + post.commentsCount + ')'}}
        ul
          li(ng-repeat='comment in post.comments')
            div.author
              img(ng-src='{{comment.pictureUrl}}', alt='')
            div.name(style='width:94%')
              strong {{comment.name}}
              a.account(ng-href='{{comment.account | wallUrl}}') {{'@' + comment.account}}
            div.date
              i.fa.fa-clock-o &nbsp;
              span(am-time-ago='comment.created', title='{{comment.created | amDateFormat: "LLLL"}}')
            div.message(ng-bind-html='comment.content | twitterize')
          li
            div.author(style='top: 4px')
              img(ng-src='{{profilePictureUrl}}', alt='')
            form(ng-controller='CommentController', ng-submit='submit()', role='form')
              input.form-control(type='text', ng-model='content', name='content', placeholder='Write a comment...', autocomplete='off')