div(ng-controller='SearchController', ng-init="init('#{collabjs.token}')")
  div.page-header
    h3
      i.fa.fa-search
      | &nbsp;Results for {{query}}

  div.alert.alert-danger(ng-if='error')
    button(type='button', ng-click='dismissError()').close &times;
    span {{error}}

  div.alert.alert-success(ng-if='info')
    button(type='button', ng-click='dismissInfo()').close &times;
    span {{info}}

  div.text-right.ng-cloak(style='padding-bottom: 10px;', ng-if='canSave()')
    button.btn.btn-success(ng-click='saveList()') Save search

  div.text-right.ng-cloak(style='padding-bottom: 10px;', ng-if='canRemove()')
    button.btn.btn-danger(ng-click='deleteList()') Remove saved search

  p.lead.ng-cloak(ng-if='hasNoPosts') No entries found...

  include posts-list
  include _spinner

  div.alert.alert-danger.page-error