div.container
  div.page-header
    h3
      i.fa.fa-search
      | &nbsp;Results for {{query}}

  div.alert.alert-danger(ng-if='error')
    button(type='button', ng-click='dismissError()').close &times;
    span {{error}}

  div.alert.alert-success(ng-if='info')
    button(type='button', ng-click='dismissInfo()').close &times;
    span {{info}}

  div.text-right.ng-cloak(style='padding-bottom: 10px;', ng-if='canWatch()')
    button.btn.btn-success(ng-click='watch()') Watch

  div.text-right.ng-cloak(style='padding-bottom: 10px;', ng-if='canUnwatch()')
    button.btn.btn-danger(ng-click='unwatch()') Unwatch

  p.lead.ng-cloak(ng-if='hasNoPosts') No entries found...

  include _cards
  include _spinner