div.container
  include people-profile

  div.page-header
    h3
      i.fa.fa-list-ul
      | &nbsp;Posts

  p.lead(ng-show='hasNoPosts') This user has no public posts for the moment...

  include _cards
  include _spinner