div(ng-controller='WallController', ng-init="init('#{collabjs.token}', '#{account}');")
  div(ng-controller='UserProfileController')
    include people-profile

  div.page-header
    h3
      i.fa.fa-list-ul
      | &nbsp;Posts

  p.lead(ng-show='hasNoPosts') No posts found...

  include posts-list
  include _spinner

  div.alert.alert-danger.page-error