extends layout-plain

block styles
  link(rel='stylesheet', href='/css/index.css')
block content

  header.jumbotron.masthead
    div
      h1= collabjs.config.ui.brand
        small.project-status= collabjs.config.ui.status
      p= collabjs.config.ui.description
    p
      a.btn.btn-primary.btn-large(href='/register') Register
      a.btn.btn-success.btn-large(href='/login') Sign in


  a(href='https://github.com/DenisVuyka/collab.js').visible-desktop
    img.forkme(src='/img/forkme_right_orange.png', alt='Fork me on GitHub')

  div.row-fluid
    div(style='text-align:right')
      small Sponsored by
      p
        a(href='http://raythos.com/')
          img(src='/img/raythos.png')