extends layout-plain

block styles
  link(rel='stylesheet', href='/css/index.css')

block content

  header.jumbotron.masthead
    div
      h1= settings.brand
        small(style='vertical-align: top') beta
      p Starter kit for modern, extensible and social-enabled web applications.
    p
      a.btn.btn-primary.btn-large(href='/register') Register
      a.btn.btn-success.btn-large(href='/login') Sign in

  a(href='https://github.com/DenisVuyka/collab.js').visible-desktop
    img.forkme(src='/images/forkme_right_orange.png', alt='Fork me on GitHub')

  div.row-fluid
    div.span4
      h2 Heading
      p 
        | Donec id elit non mi porta gravida at eget metus.
        | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
        | fermentum massa justo sit amet risus. 
        | Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn(href='#') View details &raquo;
    div.span4
      h2 Heading
      p 
        | Donec id elit non mi porta gravida at eget metus.
        | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
        | fermentum massa justo sit amet risus. 
        | Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn(href='#') View details &raquo;
    div.span4
      h2 Heading
      p 
        | Donec id elit non mi porta gravida at eget metus.
        | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
        | fermentum massa justo sit amet risus. 
        | Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn(href='#') View details &raquo;
  div.row-fluid
    div.span4
      h2 Heading
      p 
        | Donec id elit non mi porta gravida at eget metus.
        | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
        | fermentum massa justo sit amet risus. 
        | Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn(href='#') View details &raquo;
    div.span4
      h2 Heading
      p 
        | Donec id elit non mi porta gravida at eget metus.
        | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
        | fermentum massa justo sit amet risus. 
        | Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn(href='#') View details &raquo;
    div.span4
      h2 Heading
      p 
        | Donec id elit non mi porta gravida at eget metus.
        | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
        | fermentum massa justo sit amet risus. 
        | Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn(href='#') View details &raquo;