extends layout-plain

block styles
  link(rel='stylesheet', href='/css/index.css')
  link(rel='stylesheet', href='/lib/bootstrap/css/m-styles.min.css')
block content

  header.jumbotron.masthead
    div
      h1= collabjs.config.ui.brand
        small(style='vertical-align: top') beta
      p Starter kit for modern, extensible and social-enabled web applications.
    p
      a.m-btn.big.blue(href='/register')
        | Register
        i.m-icon-big-swapright.m-icon-white
      a.m-btn.big.green(href='/login')
        | Sign in
        i.m-icon-big-swapright.m-icon-white

  a(href='https://github.com/DenisVuyka/collab.js').visible-desktop
    img.forkme(src='/img/forkme_right_orange.png', alt='Fork me on GitHub')

  div.row-fluid
    div(style='text-align:right')
      small Sponsored by
      p
        a(href='http://raythos.com/')
          img(src='/img/raythos.png')