doctype html
html(ng-app='collabjs')
  head
    title= title
    
    include shared/_meta
    include shared/_styles

    block styles

    script(src='/lib/jquery/js/jquery.min.js')

  body(ng-controller='AppController', ng-init="init('#{collabjs.token}')")
    //- TODO: deprecate
    input(type='hidden', id='csrf_token', value=collabjs.token)
    include shared/menu

    div.container(style='width:100%')
      div.row
        div.col-md-12.col-lg-12
          block content

    include shared/_scripts
    block scripts