extends layout

block styles
  link(rel='stylesheet', href='/lib/select2/select2.css')
  link(rel='stylesheet', href='/css/select2-bootstrap.css')

block sidebar
  //-ul.nav.nav-list#sidebar
  div.list-group
    a.list-group-item(href='/timeline')
      i.icon-home
      | &nbsp;Home
    //-li.nav-header Profile
    a.list-group-item(href='/account')
      i.icon-user
      | &nbsp;Account
    a.list-group-item(href='/account/password')
      i.icon-key
      | &nbsp;Change password
    a.list-group-item(href='/help')
      i.icon-flag
      | &nbsp;Help

block scripts
  script(src='/lib/select2/select2.min.js')