extends layout

block sidebar
  div.well.sidebar-nav.sidebar-left
    ul.nav.nav-list#sidebar
      li.nav-header Profile
      li
        a(href='/account')
          i.icon-user
          | &nbsp;Account
      li
        a(href='/account/password')
          i.icon-key
          | &nbsp;Change password
      li.divider
      li
        a(href='/help')
          i.icon-flag
          | &nbsp;Help