!!! 5
html
  head(ng-app='collabjs')
    title= title

    include shared/_meta
    include shared/_styles

    block styles

    script(src='/lib/jquery/js/jquery.min.js')

  body(ng-controller='AppController', ng-init="init('#{collabjs.token}')")
    include shared/menu

    div.container
      div.row
        div.col-md-12
          block content

    include shared/_scripts
    block scripts