doctype html
html(ng-app='collabjs', ng-controller='AppController', ng-init="init('#{collabjs.token}')")
  head
    title(ng-bind="title + ' | collab.js'")

    include shared/_meta
    include shared/_styles

    block styles

    script(src='/lib/jquery/js/jquery.min.js')

  body
    include shared/menu

    div.container.fill-width
      div.row
        div.col-md-12.col-lg-12
          block content
            div.ng-view

    include shared/_scripts
    block scripts