!!! 5
html
  head
    title= title

    include shared/_meta
    include shared/_styles

    block styles

    script(src='/lib/jquery/js/jquery.min.js')

  body
    include shared/header

    div.container
      div.row
        div.col-md-12
          block content

    include shared/_scripts
    block scripts