extends layout

block sidebar
  //-ul.nav.nav-list#sidebar
  div.list-group
    a.list-group-item(href='/timeline')
      i.icon-home
      | &nbsp;Home
    //-li.nav-header Profile
    a.list-group-item(href='/account')
      i.icon-user
      | &nbsp;Account
    a.list-group-item(href='/account/password')
      i.icon-key
      | &nbsp;Change password
    a.list-group-item(href='/help')
      i.icon-flag
      | &nbsp;Help