extends layout

block content
  include shared/ko-timeline
  h3
    i.icon-globe
    | &nbsp;#{title}
  p.lead(style='display: none', data-bind='visible: posts().length == 0') No mentions found...
  div(style='display: none;', data-bind="visible: posts().length > 0, template: { name: 'timeline-template' }")

  // Loading progress indicator
  div.page-spinner
    i.icon-spinner.icon-spin.icon-4x

  div.alert.alert-error.page-error

block scripts
  script.
    $(document).ready(function () {
      getMentions();
      initLazyLoading(getDataUrl, onFeedDataLoaded);
    });
    // smooth infinite scrolling
    //  (downloads additional posts as soon as user scrolls to the bottom)
    function getDataUrl() {
      var bottomPostId = Math.min.apply(this, $.map(window.timelineFeed.posts(), function (p) {
        return p.id;
      }));
      return '/api/mentions?topId=' + bottomPostId;
    }