extends layout-account

block content
  include tb-mixins
  h3
    i.icon-lock
    | &nbsp;#{title}
  mixin showInfo(info, true)
  mixin showError(error)
  form.form-horizontal(id='frm-password', name='frm-password', method='post', action='/account/password')
    hr
    div.control-group
      div.control-label
        label(for='pwdOld') Old password
      div.controls
        input(type='password', required, id='pwdOld', name='pwdOld')
    div.control-group
      div.control-label
        label(for='pwdNew') New password
      div.controls
        input(type='password', required, id='pwdNew', name='pwdNew')
    div.control-group
      div.control-label
        label(for='pwdConfirm') Confirm new password
      div.controls
        input(type='password', required, id='pwdConfirm', name='pwdConfirm',
        data-validation-required-message='Password confirmation is required'
        data-validation-matches-match='pwdNew',
        data-validation-matches-message='Must match password entered above')
    hr
    div.form-actions(style='background-color: white; border-top: none;padding-top:0;')
      input.m-btn.blue(type='submit', value='Change password')
      a.m-btn.black(href='/account', style='vertical-align: middle;')
        i.m-icon-swapleft.m-icon-white
        | &nbsp;Cancel

block scripts
  script(src='/js/jqBootstrapValidation.js', type='text/javascript')
  script(type='text/javascript')
    $(function() { $("input").not(["type=submit"]).jqBootstrapValidation(); });
