extends layout

block content
  div(ng-controller='PeopleListController', ng-init='initFollowers("#{account}")')
    div(ng-controller='UserProfileController')
      include partials/people-profile
    h3
      i.icon-user
      | &nbsp;Followers
    include partials/people-list