extends layout

block content
  include shared/profile
  h3
    i.icon-user
    | &nbsp;Following
  include shared/ko-people

  script.
    $(document).ready(function () {
      getFollowing('#{account}');
      initLazyLoading(getDataUrl, onPeopleDataLoaded);
    });
    // smooth infinite scrolling
    // (downloads additional posts as soon as user scrolls to bottom)
    function getDataUrl(page) {
      var bottomUserId = Math.max.apply(this, $.map(window.peopleFeed.profiles(), function (u) {
        return u.id;
      }));
      return '/api/people/#{account}/following?topId=' + bottomUserId;
    }