extends layout

block content
  include ko-timeline
  h3
    i.icon-comment
    &nbsp;#{title}
  p.lead(style='display: none', data-bind='visible: posts().length == 0') No posts found...

  div(style='display: none;', data-bind="visible: posts().length > 0, template: { name: 'timeline-template' }")  
  
  // Loading progress indicator
  div(id='page-data-loading', style='text-align: center; display: none;')
    img(src='/images/progress-loading.gif', alt='Loading...')

  div.alert.alert-error(id='content-loading-error', style='text-align: center; display: none;')

block scripts
  script(src='/js/knockout-2.2.0.js', type='text/javascript')
  script(src='/js/moment.min.js', type='text/javascript')
  script(src='/js/collabjs.js', type='text/javascript')
  script(type='text/javascript')
    $(document).ready(function () {
      $.get('/api/people/#{account}/timeline', function (data) {
        if (data && data.length > 0) {
          onFeedDataLoaded(data, _currentUser);
        } else {
          onFeedDataLoaded([], _currentUser);
        }
       });
      initLazyLoading(getDataUrl, onFeedDataLoaded);
    });
    // smooth infinite scrolling
    //  (downloads additional posts as soon as user scrolls to the bottom)
    function getDataUrl() {
      var bottomPostId = Math.min.apply(this, $.map(window.timelineFeed.posts(), function (p) {
        return p.id;
      }));
      return '/api/people/#{account}/timeline?topId=' + bottomPostId;
    }