extends layout

append sidebar-connect
  li.active
    a(href='/people/#{account}/timeline')
      i.icon-user
      | &nbsp;@#{account}

block content
  include shared/ko-timeline
  include shared/profile
  h3
    i.icon-list-ul
    | &nbsp;Posts

  p.lead(style='display: none', data-bind='visible: posts().length == 0') No posts found...

  div(style='display: none;', data-bind="visible: posts().length > 0, template: { name: 'timeline-template' }")  
  
  // Loading progress indicator
  div.page-spinner
    i.icon-spinner.icon-spin.icon-4x

  div.alert.alert-error.page-error

block scripts
  script.
    collabjs.ui.initPersonalTimeline('#{account}');