extends layout

block content
  div(ng-controller='PeopleListController', ng-init='initFollowing("#{account}")')
    include partials/people-profile
    h3
      i.icon-user
      | &nbsp;Following
    include partials/people-list