extends layout

block content
  include shared/ko-people

  script.
    $(document).ready(function () {
      getPeople();
      initLazyLoading(getDataUrl, onPeopleDataLoaded);
    });
    // smooth infinite scrolling
    // (downloads additional posts as soon as user scrolls to bottom)
    function getDataUrl(page) {
      var bottomUserId = Math.max.apply(this, $.map(window.peopleFeed.profiles(), function (u) {
        return u.id;
      }));
      return '/api/people?topId=' + bottomUserId;
    }