extends layout

block content
  include shared/tb-mixins

  script(type='text/html', id='timeline-post')
    div.row-fluid
      div.span12.timeline-feed
        ul(data-bind='foreach: posts')
          li
            div.author
              img(data-bind="attr: { src: picture }", alt='avatar')
            div.name(data-bind='text: name', style='width:94%')
            div.date(data-bind="text: created.calendar(), attr: { title : created.format('LLLL') }")
            //- div.delete
            //-  i.icon-remove
            div.message(data-bind='html: content')
            ul
              // ko foreach: comments
              li
                div.author
                  img(data-bind="attr: { src: picture }", alt='avatar')
                div.name(data-bind='text: name')
                div.date(data-bind="text: created.calendar(), attr: { title : created.format('LLLL') }")
                div.message(data-bind='html: content')
              // /ko
              li
                div.author
                  img(data-bind="attr: { src: collabjs.avatarServer + '/avatar/' + _currentUserPictureId + '?s=48' }", alt='avatar')
                form(method='post', action='', onSubmit='doPostComment(this); return false;')
                  input(type='hidden', name='_csrf', value=token)
                  input(name='postId', type='hidden', data-bind='value: id')
                  input.input-block-level(name='content', type='text', placeholder='Write a comment...', autocomplete='off'
                    data-bind="attr: { id: 'comment-box-' + id }")
  
  p.lead#error(style='display: none;')

  // Loading progress indicator
  div#progress(style='text-align: center;')
    i.icon-spinner.icon-spin.icon-4x

  div(style='display: none;', data-bind="visible: posts().length > 0, template: { name: 'timeline-post' }")

block scripts
  script(src='/js/knockout.min.js', type='text/javascript')
  script(src='/js/moment.min.js', type='text/javascript')
  script(src='/js/collabjs.js', type='text/javascript')
  script(type='text/javascript').
    $(document).ready(function () {
      $.ajax({
        type: 'GET',
        dataType: 'json',
        url: '/api/timeline/posts/#{postId}',
        success: function (data, status) {
          onPostLoaded(data);
        },
        error: function (request, status, error) {
          $('#error').text('Post not found.').show();
        },
        complete: function () {
          $('#progress').hide();
        }
      });
    });
    function onPostLoaded(data) {
      window.viewmodel = new FeedViewModel(_currentUser, [data]);
      ko.applyBindings(window.viewmodel);
      $('div[data-link-type="comment"]').collapse('show');
    }