extends layout

block content
  div(ng-controller='PostController', ng-init="init(#{postId})")
    p.lead.text-center(ng-show='hasError') {{error}}
    div.row(style='display: none;', ng-show='hasPost')
      div.timeline-feed
        ul
          li
            div.author
              a.account(ng-href='{{getProfileFeed(post.account)}}')
                img(ng-src='{{post.pictureUrl}}', alt='')
            div.name(style='width:94%')
              strong {{post.name}}
              a.account(ng-href='{{getProfileFeed(post.account)}}') {{'@' + post.account}}
            div.date
              i.icon-time &nbsp;
              span(am-time-ago='post.created', title='{{post.created | amDateFormat: "LLLL"}}')
            div.message(ng-bind-html-unsafe='getPostContent(post)')
            ul
              li(ng-repeat='comment in post.comments')
                div.author
                  a.account(ng-href='{{getProfileFeed(comment.account)}}')
                    img(ng-src='{{comment.pictureUrl}}', alt='')
                div.name
                  strong {{comment.name}}
                  a.account(ng-href='{{getProfileFeed(comment.account)}}') {{'@' + comment.account}}
                div.date
                  i.icon-time &nbsp;
                  span(am-time-ago='comment.created', title='{{comment.created | amDateFormat: "LLLL"}}')
                div.message(ng-bind-html-unsafe='getPostContent(comment)')
              li
                div.author(style='top: 4px')
                  img(ng-src='{{profilePictureUrl}}', alt='')
                form(ng-controller='CommentController', ng-init='init("#{collabjs.token}")',  ng-submit='submit()', role='form')
                  input.form-control(type='text', ng-model='content', name='content', placeholder='Write a comment...', autocomplete='off')