extends layout

block content
  include shared/ko-timeline
  form.status-form(method='post', onSubmit='collabjs.ui.doUpdateStatus(this); return false;')
    input(type='hidden', name='_csrf', value=collabjs.token)
    textarea.input-block-level(name='content', rows='3', placeholder="What's on your mind?")
    div.footer
      input.m-btn.green.pull-right(type='submit', value='Post')

  p.lead(style='display: none', data-bind='visible: posts().length == 0') No posts found...

  div.alert.alert-info(id='msg-new-posts', style='text-align: center; display: none')
    a(id='new-msg-link', href='#')
      | You got 
      span(id='new-msg-counter')
      |  new posts for your timeline.

  // timeline
  div(style='display: none;', data-bind="visible: posts().length > 0, template: { name: 'timeline-template' }")

  // Loading progress indicator
  div.page-spinner
    i.icon-spinner.icon-spin.icon-4x

  div.alert.alert-error.page-error

block scripts
  script.
    collabjs.ui.initTimeline();
