<div class="container fill-width" ng-init="init()">
  <div class="row">
    <div class="col-md-2" ng-include="'/admin/templates/sidebar.html'"></div>
    <div class="col-md-5 col-md-offset-2">
      <div class="panel panel-default register-box">
        <div class="panel-heading">
          <h3 class="panel-title">New account</h3>
        </div>
        <div class="panel-body">
          <p class="text-danger ng-cloak" ng-if="error">{{error}}</p>
          <form role="form" ng-submit="create()">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">@</span>
                <input class="form-control" ng-model="account" type="text" required="required" placeholder="account">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input class="form-control" ng-model="name" type="text" required="required" placeholder="username">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-envelope"></i>
                </span>
                <input class="form-control" ng-model="email" type="email" required="required" placeholder="email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-key"></i>
                </span>
                <input class="form-control" ng-model="password" type="password" id="password" name="password" required="required" placeholder="password">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-key"></i>
                </span>
                <input class="form-control" ng-model="confirmPassword" type="password" required="required" placeholder="confirm password"
                       data-validation-required-message="Password confirmation is required"
                       data-validation-matches-match="password"
                       data-validation-matches-message="Must match password entered above">
              </div>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <div class="btn-group btn-group-justified">
                <div class="btn-group">
                  <a class="btn btn-default" href="/#/admin/accounts">Cancel</a>
                </div>
                <div class="btn-group">
                  <button class="btn btn-primary" type="submit">Create</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $("input").not(["type=submit"]).jqBootstrapValidation();
  });
</script>